/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.col{
    display: inline-block;
    width: 49%;
    height: 300px;
    float: left;

}
.row{
    width: 60%;
    height: 300px;
    background-color: antiquewhite;

}
.image{
    width: 435px;
    height: 280px;
    margin: 10px;
}
.list, .header {
    margin: 100px;
    
    
}
